@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

.wrapper {
  @media (min-width: 1140px) {
    padding: 3.75rem;
  }
}

.maingrid,
.maingrid_rooms {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 4px 4px 14px 0px #00000014;

  @media (min-width: 1140px) {
    grid-template-columns: 90px repeat(auto-fit, minmax(0, 1fr));
    border: none;
    box-shadow: none;
  }
}

.maingrid {
  margin-top: 3rem;
  padding-bottom: 1rem;

  @media (min-width: 1140px) {
    margin-top: 1rem;
    padding-bottom: 0rem;
  }
}

.griditem {
  padding: 0.75rem;
}

.list {
  list-style: none;
  padding-left: 0;

  @media (max-width: 1140px) {
    display: none;
  }
}

.roomlist_item {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  background-color: #ff5000;
}

.panel_wrapper {
  @media (max-width: 1140px) {
    padding: 0 1rem;
  }
}

.timeslot,
.panel_container {
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 1.25rem;
}

.panel_container {
  height: 100%;
  box-sizing: border-box;
}

.panel_container[data-link]:not([data-link='']) {
  cursor: pointer;
}

.panel_container__empty {
  background: repeating-linear-gradient(
    -45deg,
    #ebebeb,
    #ebebeb 10px,
    #f6f6f6 10px,
    #f6f6f6 20px
  );
  min-height: 8rem;

  @media (max-width: 1140px) {
    display: none;
  }
}

.panel_container__empty .panel_roomInfo {
  display: none;
}

.timeslot {
  margin: 0;
  font-size: 1rem;
  font-family: Campton, sans-serif;
  font-weight: 700;
  white-space: nowrap;
  background-color: #fe752e;

  @media (min-width: 1140px) {
    background-color: #f6f6f6;
    font-weight: 400;
  }
}

.panel_grid {
  display: flex;
  justify-content: space-between;
}

.panel_tag {
  font-weight: 700;
  max-width: fit-content;
  margin: 0 0 1.5rem;
  padding: 4px 20px;
  border-radius: 2px;
  color: #404040;
  background-color: #dbdbdb;
}

.panel_title {
  margin: 0;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: none;
}

.panel_speakers {
  margin: 0.25rem 0 0;
}

.panel_roomInfo {
  margin: 0.5rem 0 0;
  padding-top: 0.5rem;
  color: #f45201;
  border-top: 1px dotted black;

  @media (min-width: 1140px) {
    display: none;
  }
}
