<div class="wrapper">
  <ul class="list maingrid_rooms no-list" id="rooms">
    <li class="roomlist_item griditem">{{module.roomlist.time}}</li>
    {% for room in module.roomlist.rooms %}
    <li class="roomlist_item griditem roomAmount">{{room}}</li>
    {% endfor %}
  </ul>

  {% for event in module.timeslot %}
  <div class="maingrid">
    <h2 class="griditem timeslot">{{event.time}}</h2>

    {% for event in event.panels %}
    <div class="panel_wrapper">
      <section class="panel_container" data-link="{{event.link.url.href}}">
        <div class="panel_grid">
          {% if event.type %}
          <p class="panel_tag" aria-label="Event type: {{event.type}}">
            {{event.type}}
          </p>
        </div>

        <h3 class="panel_title">{{event.title}}</h3>

        {% if event.speakers %}
        <p class="panel_speakers">{{event.speakers}}</p>
        {% endif %}

        <p class="panel_roomInfo">
          Room name goes here via script (for mobile only)
        </p>
      </section>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
